body{
	background-image: url(clgg.jpg) center center fixed;
	background-repeat:no-repeat;
	background-size:1200px 1200px;
}
#head{
	font-family:verdana;
	color: black;
}

span{
	margin: 80px;
	border: 10px solid grey;
	float: left;
	color: rgb(0, 3, 191);
	padding: 70px 90px;
}

/*.but{
	float: right;
}*/
.log{
	float: top right;
	width:100%;
}
.main{
	text-align: center;
	background-color: grey;
	color: white;
}
/*.butt{
	
}
*/


div.pur p {
   margin: 5%;
   color: #000000;
   font-weight: bold;
}